@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #D1D1D1;
    --botões-color: #85C7F2;
    --letra-color: #4C4C4C;
    --janela-color: #7495AB;

}

.conteiner {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-color);
}

ul {
    list-style: none;
    overflow-y: scroll;
    background-color: var(--janela-color);
    max-height:  200px;
    width: 400px;
}

li {
    margin-bottom: 5px;
    color: var(--letra-color);
}


.title {
    background-color: var(--janela-color);
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    border-radius: 30px;
    color: var(--letra-color);
}

.proguessbar {
    border-radius: 50px;
    border: 1px solid var(--letra-color);
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.color {
    background-color: var(--botões-color);
    width: 0px;
    height: 20px;
    margin: 5px;
    border-radius: 50px;
    border: none;
    transition: width .5s ease;
    
}

p {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    left: 49%;
    color: var(--letra-color);
}

.content {
    background-color: var(--janela-color);
    width: 50%;
    height: 40%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.item-content {
    padding-left: 20px;
    width: 300px;
}


@keyframes abrir {
    from {
        display: none;
        opacity: 0;
        top: 0;
    }

    to {
        transform: translate(0, 30%);
        opacity: 1;
        display: block;
    }
}

@keyframes fechar {

    from {
        display: block;
        opacity: 1;
        top: 0;
    }


    to {
        transform: translate(0, -50%);
        opacity: 0;
        display: none;
    }
}

@keyframes rot {
    from {
        display: none;
        opacity: 1;
    }

    to {
        transform: rotate(90deg);
    }
}

.close {
    animation-name: fechar;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    display: none;
}

.open {
    animation-name: abrir;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    display: block;
}



i.mais {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    z-index: 10;
    color: rgb(0, 139, 0);
}

i.minus {
    color: darkred;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    display: none;
}

.button {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.btn {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--botões-color);
    color: var(--letra-color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid transparent;
    cursor: pointer;
}

span {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.btn:hover {
    transition: all 0.5s ease-out;
    color: var(--botões-color);
    border: 1px solid var(--botões-color);
    background-color: var(--letra-color);
    transform: scale(1.1);
}

.btn:active {
    transform: scale(0.8);
}

.content2 {
    position: absolute;
    height: 60%;
    box-shadow: 2px 2px 4px  rgba(255, 255, 255, 0.363);
    display: none;
}

#fundo{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.623);
    display: none;
}

.inp{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

#ititulo {
    text-align: center;
    padding: 5px;
}

#conteudo {
    height: 100px;
    width: 400px;
}