@charset "UTF-8";

body {
    background-color: rgba(88, 255, 88, 0.623);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(24, 207, 0);
}

h1#principal {
    /* em HTMl é id no CSS e #
       em Html é class no CSS é .
    */   
    text-align: center;
    color: rgb(153, 235, 153);
    background-color: green;
}

h2 {
    color: rgb(96, 201, 101);
}

.basico {
    color: rgb(96, 201, 101);
}

.Intermediario {
    color: rgb(199, 201, 96);
}

.avancado {
    color: rgb(201, 96, 96);
}